<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href="/bootstrap/css/login.css">
</head>

<body>


<div class="signin">
    <div class="signin-head"><img src="images/test/head_120.png" alt="" class="img-circle"></div>
    <form class="form-signin" role="form" action="/login" method="post">
        <input type="email" class="form-control" placeholder="Email" name="email" />
        <input type="text" class="form-control" placeholder="Username" name="username" />
        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">-->
        <input type="password" class="form-control" placeholder="Password" name="password" />
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="password">-->
        <button class="btn btn-lg btn-warning btn-block" type="submit">注册</button>
    </form>
</div>




</body>
</html>
